<div class="row animated fadeIn">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile</h4>
                <h6 class="card-subtitle">{{ user.name }}</h6>
                <form ngNativeValidate #form="ngForm" (ngSubmit)="saveProfile(form)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="user.name" name="name" type="text" class="form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="user.email" name="email" type="email" class="form-control" placeholder="Enter email" [disabled]="user.google" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i>
                      Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile Picture</h4>
                <h6 class="card-subtitle">{{ user.name }}</h6>
                <div align="center">
                    <img *ngIf="!tempImage" [src]="user.avatar | image" class="w-150">
                    <img *ngIf="tempImage" [src]="tempImage" class="w-150">
                </div>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-file"></i></div>
                    <input (change)="changeFile($event.target.files[0])" class="form-control" type="file">
                </div>

                <br>

                <button (click)="saveAvatar()" [disabled]="!file" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Update
                </button>
            </div>
        </div>
    </div>
</div>