<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Doctor</h3>
            <p class="text-muted m-b-30 font-13">Doctor Name</p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #form="ngForm" ngNativeValidate (ngSubmit)="submit(form)">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input [(ngModel)]="doctor.name" name="name" type="text" class="form-control" id="name" placeholder="Enter Name" required>
                        </div>
                        <div class="form-group">
                            <label for="hospitals">Hospitals</label>
                            <select (change)="changeHospital($event.target.value)" [(ngModel)]="doctor.hospital" class="form-control" name="hospitalId" id="hospitals" required>
                              <option value="">Select one Hospital</option>
                              <option *ngFor="let hospital of hospitals" [value]="hospital._id">
                                {{ hospital.name }}
                              </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Save</button>
                        <button [routerLink]="['/doctors']" class="btn btn-inverse waves-effect waves-light">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" *ngIf="hospital">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Hospital</h3>
            <img class="img-fluid rounded" [src]="pipe(hospital.avatar)">
        </div>
    </div>
    <div class="col-md-3" *ngIf="doctor">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Avatar</h3>
            <img (click)="openUploadImageModal()" class="img-fluid rounded pointer" [src]="pipe(doctor.avatar)">
        </div>
    </div>
</div>