<div class="row">
    <div class="col-6">
        <app-donut-graph [caption]="graphs.graph1.caption" [data]="graphs.graph1.data" [labels]="graphs.graph1.labels"></app-donut-graph>
    </div>
    <div class="col-6">
        <app-donut-graph [caption]="graphs.graph2.caption" [data]="graphs.graph2.data" [labels]="graphs.graph2.labels"></app-donut-graph>
    </div>
    <div class="col-6">
        <app-donut-graph [caption]="graphs.graph3.caption" [data]="graphs.graph3.data" [labels]="graphs.graph3.labels"></app-donut-graph>
    </div>
    <div class="col-6">
        <app-donut-graph [caption]="graphs.graph4.caption" [data]="graphs.graph4.data" [labels]="graphs.graph4.labels"></app-donut-graph>
    </div>
</div>